@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap');

 body {
     font-family: 400 1.2rem "Kumbh Sans", sans-serif;
     color: #4a4b5e;
}  
.boxed {
        position: relative;
        background-color: white;
        width: 1100px;
        padding: 1em;
        min-height: 69.5vh;
        border-radius: 22px;
        margin-top: 3rem;
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0 3rem 2rem 0 rgba(238, 116, 116, 0.2);
        transform: translateY(2rem);
  }


 
.faq-text {
    font-weight: bold;
    text-align: right;
}  

h1 {
    text-align: left;
}

/* .que {
  float: left;
  width: 100%;
  padding: 10px;
  height: 300px;
  text-align: left;
} */



.images {
  position: relative;
  padding: 2em .8rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 42%;
  align-items: center;
  min-width: 340px;
}

.img1 {
  display: block;
  position: absolute;
  width: 90%;
  left: -5em;
  overflow: hidden;
  min-width: 300px;
}

.img2 {
    display: block;
    position: absolute;
    width: 150px;
    top: 10rem;
    left: -5rem;
      
} 

.mob{
  display: none;
}

p {
  text-align: left;
}

.dropdown {
  height: 10px;
  margin-left: 300px;
}


.question {
  content: '\2304'; 
  background-color:white;
  font-family: "Kumbh Sans";
  font-weight: 400, 700;
  cursor: pointer;
  padding: 1px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 12px;
  transition: 0.4s;
}

.question:hover  {  
  background-color: white;
  color: rgb(255, 77, 77);
}

.active, .question:hover {
  font-size: 14px;
  font-weight: bold;
}

.question:after {
  content: url("../icon-arrow-down.svg");
  transform: scaleY(1);
  transition: transform 0.5s ease;
  /* content: '\2304';  */
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2303";
  color: rgb(255, 77, 77);
}

.answer {
  font-family: 'Kumbh Sans';
  font-weight: 400, 700;
  height: 70;
  text-align: left;
  padding: 0 15px;
  background-color: white;
  color: darkslategrey;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 12px;
}

